<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(FastNet.Blazor.Core.BasicLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(FastNet.Blazor.Core.BasicLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />